
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// demo-card-2 .demo-card-2-value-text {
// color: var(--demo-card-2-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("demo-card-2.base") {
  demo-card-2:not(.oj-complete){
    visibility: hidden;
  }
  
  demo-card-2{
  	min-height: 50px;
  	width: 50px;
  }
}